/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-white: #fff7f7;
  --secondary-white: #f8ede3;
  --light-grey: #f6f5f7;
  --medium-grey: #d8d9da;
  --dark-grey: #61677a;
  --beige: #d0b8a8;
  --actions: #384b70;
  --font-color: #272829;
}

body {
  min-height: 100vh;
  color: var(--font-color);
  font-family: "Lato", system-ui;
  font-weight: 300;
}

main {
  display: flex;
}

// All heading styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unna", system-ui;
  font-weight: 400;
  font-style: normal;
}

.side-nav {
  width: 16rem;
  min-height: 100vh;
  padding: 3rem 1.2rem;
  background-color: var(--primary-white);
}

.side-nav-links {
  height: 70%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav-li {
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 1rem;
  padding: 1rem;
}

.side-nav-li:hover {
  background-color: #ffffffe0;
  border-radius: 4px;
}

.dash-logo {
  font-size: 2rem;
}

.main-container {
  // padding: 2rem;
}

/* Registration Styles: Login/SignUp */
.registration-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-grey);
  display: grid;
  place-content: center;
}

.container {
  position: relative;
  width: 53rem;
  height: 32rem;
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 15px 20px 30px #5557;
  overflow: hidden;
}

.form-container {
  position: absolute;
  width: 60%;
  height: 100%;
  padding: 0px 40px;
  transition: all 0.6s ease-in-out;
}

.sign-up-container {
  opacity: 0;
  z-index: -1;
}

.sign-in-container {
  z-index: 2;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
}

.field {
  position: relative;
  margin: 8px 0px;
  width: 100%;
}

input {
  width: 100%;
  padding: 12px 15px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
}

.forgot {
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0px;
  color: var(--font-color);
}

.actions,
.overlay button {
  width: fit-content;
  border-radius: 20px;
  border: 1px solid var(--actions);
  background: var(--actions);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.actions {
  color: #fff;
  cursor: pointer;
}

.overlay button {
  color: var(--actions);
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 9;
}

#overlay-btn {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 304px;
  transform: translateX(-50%);
  width: 143.67px;
  height: 40px;
  border: 1px solid var(--actions);
  background: transparent;
  border-radius: 20px;
}

.overlay {
  position: relative;
  background: var(--primary-white);
  left: -150%;
  height: 100%;
  width: 250%;
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 40px;
  text-align: center;
  height: 100%;
  width: 340px;
  transition: 0.6s ease-in-out;
}

.overlay-left {
  right: 60%;
  transform: translateX(-12%);
}

.overlay-right {
  right: 0;
  transform: translateX(0%);
}

.overlay-panel h1,
.reg-title {
  color: var(--actions);
  font-weight: bold;
}

.overlay-panel p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 25px 0px 35px;
}

.overlay-panel button {
  border: none;
  background: transparent;
}

.right-panel-active .overlay-container {
  transform: translateX(-150%);
}

.right-panel-active .overlay {
  transform: translateX(50%);
}

.right-panel-active .overlay-left {
  transform: translateX(25%);
}

.right-panel-active .overlay-right {
  transform: translateX(35%);
}

.right-panel-active .sign-in-container {
  transform: translateX(20%);
  opacity: 0;
}

.right-panel-active .sign-up-container {
  transform: translateX(66.7%);
  opacity: 1;
  z-index: 5;
  animation: show-sign-up 0.6s;
}

@keyframes show-sign-up {
  0%,
  50% {
    opacity: 0;
    z-index: 1;
  }

  50.1%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.btn-scaled {
  animation: scale-btn 0.6s;
}

@keyframes scale-btn {
  0% {
    width: 143.67px;
  }
  50% {
    width: 250px;
  }
  100% {
    width: 143.67px;
  }
}
