/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-white: #fff7f7;
  --secondary-white: #f8ede3;
  --light-grey: #f6f5f7;
  --medium-grey: #d8d9da;
  --dark-grey: #61677a;
  --beige: #d0b8a8;
  --actions: #384b70;
  --font-color: #272829;
}

body {
  min-height: 100vh;
  color: var(--font-color);
  font-family: "Lato", system-ui;
  font-weight: 300;
}

main {
  display: flex;
}

// All heading styles
h1,
h2,
h3,
h4,
h5,
h6,
.dash-logo {
  font-family: "Unna", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Admin Dashboard Styles */

.side-nav {
  width: 16rem;
  min-height: 100vh;
  padding: 3rem 1.2rem;
  background-color: var(--primary-white);
}

.dash-logo {
  font-size: 2rem;
  color: var(--actions);
}

.side-nav-links {
  height: 70%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav-li {
  text-decoration: none;
  color: var(--actions);
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 1rem;
  padding: 1rem;
}

.side-nav-li:hover {
  background-color: #ffffffe0;
  border-radius: 4px;
}

.main-container {
  // padding: 2rem;
}

/* Authentication Styles */
.registration-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  color: var(--actions);
  position: relative;
  width: 53rem;
  height: 32rem;
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 15px 20px 30px #5557;
  // overflow: hidden;
}

.overlay-container {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  z-index: 9;
  background: var(--primary-white);
  transition: transform 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  position: absolute;
  right: 0;
  width: 250%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.overlay-panel {
  width: 40%;
  border: 1px solid blue;
}

@keyframes show-sign-up {
  0%,
  50% {
    opacity: 0;
    z-index: 1;
  }

  50.1%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.btn-scaled {
  animation: scale-btn 0.6s;
}

@keyframes scale-btn {
  0% {
    width: 143.67px;
  }
  50% {
    width: 250px;
  }
  100% {
    width: 143.67px;
  }
}
